<div class="container mt-5">
    <div class="card p-2">
        <div class="row">
            <div class="col-6">
                <form #productFrom="ngForm" (ngSubmit)="addProduct(productFrom)">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Product Name</mat-label>
                        <input matInput 
                               placeholder="Please enter the product name."
                               [(ngModel)]="product.productName"
                               name="productName">
                    </mat-form-field>
            
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Product Description</mat-label>
                        <input matInput 
                               placeholder="Please enter the product description."
                               [(ngModel)]="product.productDescription"
                               name="productDescription">
                    </mat-form-field>
            
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Product Actual Price</mat-label>
                        <input matInput 
                               placeholder="Please enter the actual price."
                               [(ngModel)]="product.productActualPrice"
                               name="productActualPrice">
                    </mat-form-field>
            
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Product Discounted Price</mat-label>
                        <input matInput 
                               placeholder="Please enter the discounted price."
                               [(ngModel)]="product.productDiscountedPrice"
                               name="productDiscountedPrice">
                    </mat-form-field>
            
                    <div align="end">
                        <button mat-stroked-button color="primary" style="margin-right: 5px;">Clear</button>
                        <button mat-stroked-button color="primary" type="submit">Add Product</button>
                    </div>
                </form>
            </div>
            <div class="col-6">
                Image area
            </div>
        </div>
    </div>
</div>